nav {
    background-color: #444;
    padding: 10px 0;
}

nav .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav .menu li {
    display: inline;
    margin: 0 15px;
}

nav .menu a {
    text-decoration: none;
    color: #0484ce;
    font-size: 1.2em;
    font-weight: bold;
}

nav .menu a:hover {
    color: #ff4500;
}

body {
    background-color: hsl(180, 100%, 50%);
    font-family: 'Anicon Slab', sans-serif;
    color: #020202;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 20px;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
}
p {
    text-align: center;
    font-size: 1em;
    margin: 10px 0;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    text-align: center;
}

table img {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

table img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #0484ce;
    font-size: 2em;
    font-style: italic;
}

a:hover {
    color: #9b05ff;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    margin: 8px 0;
}

footer a {
    color: #0484ce;
    font-weight: bold;
}

footer a:hover {
    color: #ff4500;
}
nav .menu a, footer a {
    text-decoration: none;
    color: #0484ce;
    font-weight: bold;
}

nav .menu a:hover, footer a:hover {
    color: #ff4500;
}
